<a href="https://colab.research.google.com/github/yes1023/NLP_2024/blob/main/python%20practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#006
int_data = 1 #정수 선언
float_data = 3.14 #실수 선언
complex_data = 1 + 5j #복소수 선언
str_data1 = 'I love Python' #문자열 선언(영문)
str_data2 = "반갑습니다." #문자열 선언(한글)
list_data = [1, 2, 3] #리스트 선언
tuple_data = (1, 2, 3) #튜플 선언
dict_data = {0:'False', 1:'True'} #사전 선언

In [ ]:
#007
a = 200
msg = 'I love Python'
list_data = ['a', 'b', 'c']
dict_data = {'a':97, 'b':98}
print(a)
print(msg)
print(list_data)
print(list_data[0])
print(dict_data)
print(dict_data['a'])

In [ ]:
#008
listdata = ['a', 'b', 'c']
if 'a' in listdata:
    print('a가 listdata에 있습니다.')
    print(listdata)
else:
    print('a가 listdata에 존재하지 않습니다.')

In [ ]:
#009
x = 1
y = 2
if x >= y:
    print('x가 y보다 크거나 같습니다.')
else:
    print('x가 y보다 작습니다.')

In [ ]:
#010
x = 1
y = 2
if x > y:
    print('x가 y보다 큽니다.')
elif x < y:
    print('x가 y보다 작습니다.')
else:
    print('x와 y가 깉습니다.')

In [ ]:
#011
scope = [1,2,3,4,5]
for x in scope:
    print(x)

In [ ]:
#문자열을 범위로 지정한 예
str = 'abcdef'
for c in str:
  print(c)

In [ ]:
#리스트를 범위로 지정한 예
list = [1,2,3,4,5]
for c in list:
  print(c)

In [ ]:
#사전을 범위로 지정한 예
ascii_codes = {'a':97,'b':98,'c':99}
for c in ascii_codes:
  print(c)

In [ ]:
#range() 함수를 범위로 지정한 예
for c in range(10):
  print(c)

In [ ]:
str = 'Time is money!!'
print(str[::])
print(str[:2])
print(str[::2])
print(str[::-2])
print(str[2:7])

In [ ]:
ARMY = "I love BTS"
print(len(ARMY))

In [ ]:
list = ['BTS','DAY6','LUCY','CSW']
print(list)
list[3] = 'TWS'
print(list)

In [ ]:
list = ['Sleep','Music','Cat','Dog']
print(list[::2])

In [ ]:
x = 800
y = 500

if x < y:
  print("잔액이 부족합니다.")
else:
  print("결제가 완료되었습니다.")

In [ ]:
BTS = ['RM', 'JIN', 'SUGA', 'J-HOPE', 'JIMIN', 'V', 'JUNGKOOK']

for i in BTS:
  print(i)

In [ ]:
for i in range(4):
  print(i)

type(i)

In [ ]:
list_Actor = ["조승우", "박형식", "연우진", "김성철", "이진욱", "남궁민", "이도현"]

for i in list_Actor:
  print(i)

In [ ]:
list_Character = ["류선재", "임솔", "설우재", "김태헌", "김태성", "백인혁"]

for i in list_Character:
  print(i)

In [ ]:
import re
text = "류선재, 설우재, 주우재, 최영재, 임솔, 백인혁, 김태성, 김태헌"
pattern = r"재"

matches = re.findall(pattern, text)

for j in matches:
  print("Match:", j)

In [ ]:
import re
text = "류선재, 설우재, 주우재, 최영재, 임솔, 백인혁, 김태성, 김태헌"
pattern = r".재"

matches = re.findall(pattern, text)

for j in matches:
  print("Match:", j)

In [ ]:
import re
text = "김석진, 지석진, 하석진, 백이진, 민희진, 전못진, 진라면"
pattern = r".진"

matches = re.findall(pattern, text)

for i in matches:
  print("Match:",i)

In [ ]:
import re
text = "김석진, 지석진, 하석진, 백이진, 민희진, 전못진, 진라면"
pattern = r".석진"

matches = re.findall(pattern, text)

for i in matches:
  print("Match:", i)

In [ ]:
import re
text = "김석진, 지석진, 하석진, 백이진, 민희지니, 전못진, 진라면"
pattern = r".석+진"

matches = re.findall(pattern, text)

for i in matches:
  print("Match:", i)

In [ ]:
import re
text = "송은석, 변우석, 손석구, 김석우, 석갈비, 김석진, 양석형"
pattern = r".석+진"

matches = re.findall(pattern, text)

for i in matches:
  print("Match:", i)

In [ ]:
import re
text = "어느 날 우리 집 현관으로 멸망이 들어왔다."
pattern = r".다$"

matches =re.findall(pattern, text)

for i in matches:
  print("Match:", i)

In [ ]:
import re
text = "어느 날 우리 집 현관으로 멸망이 들어왔다"
pattern = r".다$"

matches =re.findall(pattern, text)

for i in matches:
  print("Match:", i)

In [ ]:
import re
text = "정신병동에도 아침이 와요"
pattern = r"^정"

matches = re.findall(pattern, text)
for i in matches:
  print("Match:", i)

In [ ]:
import re
text = "멱살 한 번 잡힙시다"
pattern = r"^한"

matches =  re.findall(pattern, text)
for i in matches:
  print("Match:", i)

In [ ]:
import re
text = "악의 마음을 읽는 자들"
pattern = r"들$"

matches = re.findall(pattern, text)
for d in matches:
  print("Match:", d)

In [ ]:
import re
text = "시청 앞 지하철 역에서"
pattern = r'시'

matches = re.findall(pattern, text)
for j in matches:
  print("Match:", j)

In [ ]:
import re
text = "슬기로운 의사생활"
pattern = r'슬'
pattern1 = r'의'

matches = re.findall(pattern, text)
for doctor in matches:
  print(doctor)

matches = re.findall(pattern1, text)
for doctor in matches:
  print(doctor)

In [ ]:
import re
text = "슬기로운 의사생활, 슬기로운 감빵생활"
pattern = r'슬기로운'

matches = re.findall(pattern, text)

for i in matches:
  print(i)

In [ ]:
import re
text = "신정환, 김도훈, 최영재, 한진, 한지훈, 이경민"
pattern = r'한'

matches = re.findall(pattern, text)

for tws in matches:
  print(tws)

In [ ]:
import re
text = "신정환, 김도훈, 최영재, 한진, 한지훈, 이경민"
pattern = r'한.'

matches = re.findall(pattern, text)

for tws in matches:
  print(tws)

In [ ]:
scope = [3, 13, 23, 33, 43, 52]
for i in scope:
  print(i)
  if i < 40:
    continue
  else:
    break

In [ ]:
scope = [3, 13, 23, 33, 43, 52]
for i in scope:
  if i < 40:
    print(i)
    continue
  else:
    break

In [ ]:
#015
val = None #값이 존재하지 않는 변수에 대입하여 이 변수에 아무런 값이 없다는 것을 나타내기 위해 주로 활용.
condition = 1
if condition == 1:
  val = [1,2,3]
else:
  val = 'I love Python'

In [ ]:
#016
int_data = 10
bin_data = 0b10
oct_data = 0o10
hex_data = 0x10
long_data = 1234567890123456789

print(int_data)
print(bin_data)
print(oct_data)
print(hex_data)
print(long_data)

In [ ]:
#017
f1 = 1.0
f2 = 3.14
f3 = 1.56e3
f4 = -0.7e-4

print(f1)
print(f2)
print(f3)
print(f4)

In [ ]:
import re
text = "2018 멜론뮤직어워드"

pattern = r'[0-9]'
matches = re.findall(pattern, text)

for i in matches:
  print("Match:", i)

In [ ]:
import re
text = "Permission To Dance"

pattern = r'[a-zA-Z]'
matches = re.findall(pattern, text)

for i in matches:
  print("Match:", i)

In [ ]:
import re
text = "Permission To Dance"

pattern = r'[A-Z]'
matches = re.findall(pattern, text)

for i in matches:
  print("Match:", i)

In [ ]:
import re
text = "Permission To Dance"

pattern = r'[a-z]'
matches = re.findall(pattern, text)

for i in matches:
  print("Match:", i)

In [ ]:
def add_txt(t1, t2):
    t_result = t1 + t2
    return t_result

In [ ]:
def add_txt(A, B):
    c_result = A + B
    return c_result

In [ ]:
def add_txt(t1, t2):
    result = t1 + t2
    return result

text1 = "Hello, "
text2 = "World!"

combined_text = add_txt(text1,text2)

print(combined_text)

In [ ]:
def add_txt(A, B):
    result = A + B
    return result

a = "Hello, "
b = "World!"

combined_text = add_txt(a,b)

print(combined_text)

In [ ]:
import pandas as pd
dict_data = {'c0': [1, 2, 3], 'c1': [4, 5, 6], 'c2': [7, 8, 9], 'c3': [10, 11, 12], 'c4': [13, 14, 15]}

df = pd.DataFrame(dict_data)
print(df)
print('\n')
print(type(df))

In [ ]:
class FourCal:
  def setdata(self, first, second):
    self.first = first
    self.second = second

c = FourCal()
d = FourCal()

In [ ]:
class FourCal:
  def setdata(self, first, second):
    self.first = first
    self.second = second

  def add(self):
    result = self.first + self.second
    return result

  def sub(self):
    result = self.first - self.second
    return result

  def mul(self):
    result = self.first *self.second

  def dib(self):
    result = self.first / self.second
    return result

a = FourCal()
b = FourCal()
c = FourCal()

a.setdata(23,42)
b.setdata(613,122)
c.setdata(2013,2024)

In [ ]:
a.add()

In [ ]:
b.add()

In [ ]:
c.add()

In [ ]:
!pip install pandas

In [ ]:
!pip install scikit-learn

In [ ]:
!pip install matplot

In [ ]:
!pip install nltk

In [ ]:
!pip install corpus-toolkit

In [ ]:
import nltk
from nltk.tokenize import word_tokenize, sent_tokenize
nltk.download("punkt")

In [ ]:
import os
os.mkdir ("tws")

In [ ]:
!pip install nitk
text = "투어스는 23일 0시 공식 SNS와 하이브 레이블즈 유튜브 채널을 통해 ‘아워 메모리즈:나우’(Our Memories:Now)라는 제목의 영상을 깜짝 공개하며 6월 복귀를 예고했다."
from nltk.tokenize import sent_tokenize
sentence = sent_tokenize(text)
print('문장 토큰화: %s' %sentence)

In [ ]:
text = """
‘첫 만남’의 여운이 채 가시기도 전 신인 그룹 투어스가 ‘설렘 주의보’를 발동했다. 그룹 투어스가 6월 컴백을 공식화하며 ‘올해의 신인’ 굳히기에 나선다.

투어스는 23일 0시 공식 SNS와 하이브 레이블즈 유튜브 채널을 통해 ‘아워 메모리즈:나우’(Our Memories:Now)라는 제목의 영상을 깜짝 공개하며 6월 복귀를 예고했다.


해당 영상을 드러낸 투어스의 컴백 모드는 5세대 필살기로 꼽히는 ‘청량미 절정판’임을 선언하는 느낌. 교정을 배경으로 농구 코트, 아날로그 카세트 플레이어 등이 등장하며 10대 버전의 ‘선재 업고 튀어’ 변우석을 연상케 하는 멤버 각각의 매력을 드러내 눈길을 사로잡았다.

영화 같은 티저 필름을 통해 약속한 투어스의 컴백 디데이는 6월 24일. 투어스는 플레디스 엔터테인먼트가 세븐틴 이후 9년 만에 선보이는 아이돌 그룹으로, 올 초 내놓은 데뷔곡 ‘첫 만남을 계획대로 되지 않아’를 메가 히트시키며 단박에 톱티어 반열에 올라섰다. 신드롬에 가까웠던 일명 ‘첫 만남’ 열풍은 발표 4개월이 경과된 현재까지도 각종 차트 상위권에 머무는 등 ‘스테디셀러’ 양상을 보이며 ‘진정한 유행가’로 자리 잡은 인상이다.

한편 투어스는 깜짝 공개한 티저 영상의 ‘본편’을 전국 영화관으로 옮겨 공개키로 해 화제를 모으고 있다. 구체적으로 소속사 플레디스 측은 ‘아워 메모리즈:나우’ 본편을 30일까지 전국 CGV 전 상영 회차 직전에 상영한다고 밝혔다.
"""

count = len(text)
print(count)
print(text)

In [ ]:
text = """
‘첫 만남’의 여운이 채 가시기도 전 신인 그룹 투어스가 ‘설렘 주의보’를 발동했다. 그룹 투어스가 6월 컴백을 공식화하며 ‘올해의 신인’ 굳히기에 나선다.

투어스는 23일 0시 공식 SNS와 하이브 레이블즈 유튜브 채널을 통해 ‘아워 메모리즈:나우’(Our Memories:Now)라는 제목의 영상을 깜짝 공개하며 6월 복귀를 예고했다.


해당 영상을 드러낸 투어스의 컴백 모드는 5세대 필살기로 꼽히는 ‘청량미 절정판’임을 선언하는 느낌. 교정을 배경으로 농구 코트, 아날로그 카세트 플레이어 등이 등장하며 10대 버전의 ‘선재 업고 튀어’ 변우석을 연상케 하는 멤버 각각의 매력을 드러내 눈길을 사로잡았다.

영화 같은 티저 필름을 통해 약속한 투어스의 컴백 디데이는 6월 24일. 투어스는 플레디스 엔터테인먼트가 세븐틴 이후 9년 만에 선보이는 아이돌 그룹으로, 올 초 내놓은 데뷔곡 ‘첫 만남을 계획대로 되지 않아’를 메가 히트시키며 단박에 톱티어 반열에 올라섰다. 신드롬에 가까웠던 일명 ‘첫 만남’ 열풍은 발표 4개월이 경과된 현재까지도 각종 차트 상위권에 머무는 등 ‘스테디셀러’ 양상을 보이며 ‘진정한 유행가’로 자리 잡은 인상이다.

한편 투어스는 깜짝 공개한 티저 영상의 ‘본편’을 전국 영화관으로 옮겨 공개키로 해 화제를 모으고 있다. 구체적으로 소속사 플레디스 측은 ‘아워 메모리즈:나우’ 본편을 30일까지 전국 CGV 전 상영 회차 직전에 상영한다고 밝혔다.
"""

text_nl = text.replace('\n', ' ')

count = len(text)
print(count)
print('투어스 6월 컴백 “심장 꽉 잡아”')
print('\n', text_nl)

In [ ]:
import urllib.request
url = "https://raw.githubusercontent.com/yes1023/Data_Misc/main/Crime_Punishment_ChOne_Part.txt"
reponse = urllib.request.urlopen(url)
content =  reponse.read().decode('utf-8')
print(content)
words = content.split()
print(words)

unique_words = set(words)
ttr = len(unique_words) / len(words)

print("Type to Token Ratio (TTR):", ttr)
print("Unique words (Types):", sorted(unique_words))
print("Token:", words)

In [ ]:
import urllib.request
url = "https://raw.githubusercontent.com/yes1023/Data_Misc/main/Crime_Punishment_ChOne_Part.txt"
response = urllib.request.urlopen(url)
content = response.read().decode('utf-8')

print(content)

words = content.split()

unique_words = set(words)
ttr = len(unique_words) / len(words)

print("Type-Token Ratio (TTR):", ttr)
print("Unique words (Types):", unique_words) #적혀있는 순대로
print("Tokens:", words)

In [ ]:
import urllib.request
url = "https://raw.githubusercontent.com/yes1023/Data_Misc/main/Crime_Punishment_ChOne_Part.txt"
response = urllib.request.urlopen(url)
content = response.read().decode('utf-8')

print(content)

words = content.split()

unique_words = set(words)
ttr = len(unique_words) / len(words)

print("Type-Token Ratio (TTR):", ttr)
print("Unique words (Types):", sorted(unique_words)) #알파벳 순대로
print("Tokens:", words)

In [ ]:
!pip install nltk
import nltk
nltk.download('punkt')

In [ ]:
!pip install nltk
import nltk
nltk.download('punkt')

text = open('/content/sample_data/text_symbol_sample.txt')
temp = text.read()
obj = temp.replace('\n', ' ')

In [ ]:
print(obj)

In [ ]:
!pip install nltk
import nltk
nltk.download('punkt')

text = open('/content/sample_data/text_symbol_sample.txt')
temp = text.read()
obj = temp.replace('\n', ' ')
print(obj)

In [ ]:
obj.split()

In [ ]:
!pip install nltk
from nltk.tokenize import word_tokenize
import nltk
nltk.download('punkt')

print('Tokenizing Word and Punctuation:', word_tokenize(obj))

In [ ]:
!pip install nltk

import nltk

In [ ]:
file = open("/content/sample_data/text_symbol_sample.txt")
text = file.read().replace("\n", " ")
file.close()

In [ ]:
text.split()

In [ ]:
text.lower()

In [ ]:
file = open("tmp.txt", "w")
file.write(text)
file.close()

In [ ]:
text.split()

In [ ]:
from nltk.tokenize import RegexpTokenizer
retokenize = RegexpTokenizer("[\w]+")
words = retokenize.tokenize(text)

In [ ]:
from nltk.stem import PorterStemmer
stemmer = PorterStemmer()
[stemmer.stem(w) for w in words]

In [ ]:
from  nltk.stem import LancasterStemmer
stemmer = LancasterStemmer()
[stemmer.stem(w) for w in words]

In [ ]:
from nltk.stem import WordNetLemmatizer
nltk.download('wordnet')
lemmatizer = WordNetLemmatizer()
[lemmatizer.lemmatize(w) for w in words]

In [ ]:
from nltk.corpus import stopwords
nltk.download('stopwords')
print(words)
words = [w for w in words if not w in stopwords.words('english')]
print(words)

In [ ]:
nltk.download('gutenberg')
text = nltk.corpus.gutenberg.raw('austen-emma.txt')
retokenize = RegexpTokenizer(r"[\w]+")
words = retokenize.tokenize(text)
print(words[:50])