<a href="https://colab.research.google.com/github/yes1023/NLP_2024/blob/main/python%20practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#006
int_data = 1 #정수 선언
float_data = 3.14 #실수 선언
complex_data = 1 + 5j #복소수 선언
str_data1 = 'I love Python' #문자열 선언(영문)
str_data2 = "반갑습니다." #문자열 선언(한글)
list_data = [1, 2, 3] #리스트 선언
tuple_data = (1, 2, 3) #튜플 선언
dict_data = {0:'False', 1:'True'} #사전 선언

In [ ]:
#007
a = 200
msg = 'I love Python'
list_data = ['a', 'b', 'c']
dict_data = {'a':97, 'b':98}
print(a)
print(msg)
print(list_data)
print(list_data[0])
print(dict_data)
print(dict_data['a'])

In [ ]:
#008
listdata = ['a', 'b', 'c']
if 'a' in listdata:
    print('a가 listdata에 있습니다.')
    print(listdata)
else:
    print('a가 listdata에 존재하지 않습니다.')

In [ ]:
#009
x = 1
y = 2
if x >= y:
    print('x가 y보다 크거나 같습니다.')
else:
    print('x가 y보다 작습니다.')

In [ ]:
#010
x = 1
y = 2
if x > y:
    print('x가 y보다 큽니다.')
elif x < y:
    print('x가 y보다 작습니다.')
else:
    print('x와 y가 깉습니다.')

In [ ]:
#011
scope = [1,2,3,4,5]
for x in scope:
    print(x)

In [ ]:
#문자열을 범위로 지정한 예
str = 'abcdef'
for c in str:
  print(c)

In [ ]:
#리스트를 범위로 지정한 예
list = [1,2,3,4,5]
for c in list:
  print(c)

In [ ]:
#사전을 범위로 지정한 예
ascii_codes = {'a':97,'b':98,'c':99}
for c in ascii_codes:
  print(c)

In [ ]:
#range() 함수를 범위로 지정한 예
for c in range(10):
  print(c)

In [ ]:
str = 'Time is money!!'
print(str[::])
print(str[:2])
print(str[::2])
print(str[::-2])
print(str[2:7])

In [ ]:
ARMY = "I love BTS"
print(len(ARMY))

In [ ]:
list = ['BTS','DAY6','LUCY','CSW']
print(list)
list[3] = 'TWS'
print(list)

In [ ]:
list = ['Sleep','Music','Cat','Dog']
print(list[::2])

In [ ]:
x = 800
y = 500

if x < y:
  print("잔액이 부족합니다.")
else:
  print("결제가 완료되었습니다.")

In [ ]:
BTS = ['RM', 'JIN', 'SUGA', 'J-HOPE', 'JIMIN', 'V', 'JUNGKOOK']

for i in BTS:
  print(i)

In [ ]:
for i in range(4):
  print(i)

type(i)

In [ ]:
list_Actor = ["조승우", "박형식", "연우진", "김성철", "이진욱", "남궁민", "이도현"]

for i in list_Actor:
  print(i)

In [ ]:
import re
text = "김석진, 지석진, 하석진, 백이진, 민희진, 전못진, 진라면"
pattern = r".진"

matches = re.findall(pattern, text)

for i in matches:
  print("Match:",i)

In [ ]:
import re
text = "김석진, 지석진, 하석진, 백이진, 민희진, 전못진, 진라면"
pattern = r".석진"

matches = re.findall(pattern, text)

for i in matches:
  print("Match:", i)

In [ ]:
import re
text = "김석진, 지석진, 하석진, 백이진, 민희지니, 전못진, 진라면"
pattern = r".석+진"

matches = re.findall(pattern, text)

for i in matches:
  print("Match:", i)

In [ ]:
import re
text = "송은석, 변우석, 손석구, 김석우, 석갈비, 김석진, 양석형"
pattern = r".석+진"

matches = re.findall(pattern, text)

for i in matches:
  print("Match:", i)

In [ ]:
import re
text = "어느 날 우리 집 현관으로 멸망이 들어왔다."
pattern = r".다$"

matches =re.findall(pattern, text)

for i in matches:
  print("Match:", i)

In [ ]:
import re
text = "어느 날 우리 집 현관으로 멸망이 들어왔다"
pattern = r".다$"

matches =re.findall(pattern, text)

for i in matches:
  print("Match:", i)

In [ ]:
import re
text = "정신병동에도 아침이 와요"
pattern = r"^정"

matches = re.findall(pattern, text)
for i in matches:
  print("Match:", i)

In [ ]:
import re
text = "멱살 한 번 잡힙시다"
pattern = r"^한"

matches =  re.findall(pattern, text)
for i in matches:
  print("Match:", i)

In [ ]:
import re
text = "악의 마음을 읽는 자들"
pattern = r"들$"

matches = re.findall(pattern, text)
for d in matches:
  print("Match:", d)

In [ ]:
import re
text = "시청 앞 지하철 역에서"
pattern = r'시'

matches = re.findall(pattern, text)
for j in matches:
  print("Match:", j)

In [ ]:
import re
text = "슬기로운 의사생활"
pattern = r'슬'
pattern1 = r'의'

matches = re.findall(pattern, text)
for doctor in matches:
  print(doctor)

matches = re.findall(pattern1, text)
for doctor in matches:
  print(doctor)

In [ ]:
import re
text = "슬기로운 의사생활, 슬기로운 감빵생활"
pattern = r'슬기로운'

matches = re.findall(pattern, text)

for i in matches:
  print(i)

In [ ]:
scope = [3, 13, 23, 33, 43, 52]
for i in scope:
  print(i)
  if i < 40:
    continue
  else:
    break

In [ ]:
scope = [3, 13, 23, 33, 43, 52]
for i in scope:
  if i < 40:
    print(i)
    continue
  else:
    break

In [ ]:
#015
val = None #값이 존재하지 않는 변수에 대입하여 이 변수에 아무런 값이 없다는 것을 나타내기 위해 주로 활용.
condition = 1
if condition == 1:
  val = [1,2,3]
else:
  val = 'I love Python'

In [ ]:
#016
int_data = 10
bin_data = 0b10
oct_data = 0o10
hex_data = 0x10
long_data = 1234567890123456789

print(int_data)
print(bin_data)
print(oct_data)
print(hex_data)
print(long_data)

In [ ]:
#017
f1 = 1.0
f2 = 3.14
f3 = 1.56e3
f4 = -0.7e-4

print(f1)
print(f2)
print(f3)
print(f4)

In [ ]:
import re
text = "2018 멜론뮤직어워드"

pattern = r'[0-9]'
matches = re.findall(pattern, text)

for i in matches:
  print("Match:", i)

In [ ]:
import re
text = "Permission To Dance"

pattern = r'[a-zA-Z]'
matches = re.findall(pattern, text)

for i in matches:
  print("Match:", i)

In [ ]:
import re
text = "Permission To Dance"

pattern = r'[A-Z]'
matches = re.findall(pattern, text)

for i in matches:
  print("Match:", i)

In [ ]:
import re
text = "Permission To Dance"

pattern = r'[a-z]'
matches = re.findall(pattern, text)

for i in matches:
  print("Match:", i)

In [ ]:
def add_txt(t1, t2):
    t_result = t1 + t2
    return t_result

In [ ]:
def add_txt(A, B):
    c_result = A + B
    return c_result

In [ ]:
def add_txt(t1, t2):
    result = t1 + t2
    return result

text1 = "Hello, "
text2 = "World!"

combined_text = add_txt(text1,text2)

print(combined_text)

In [ ]:
def add_txt(A, B):
    result = A + B
    return result

a = "Hello, "
b = "World!"

combined_text = add_txt(a,b)

print(combined_text)

In [ ]:
import pandas as pd
dict_data = {'c0': [1, 2, 3], 'c1': [4, 5, 6], 'c2': [7, 8, 9], 'c3': [10, 11, 12], 'c4': [13, 14, 15]}

df = pd.DataFrame(dict_data)
print(df)
print('\n')
print(type(df))

In [ ]:
class FourCal:
  def setdata(self, first, second):
    self.first = first
    self.second = second

c = FourCal()
d = FourCal()