<a href="https://colab.research.google.com/github/yes1023/NLP_2024/blob/main/python%20practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print('안녕하세요')

In [ ]:
#006
int_data = 1 #정수 선언
float_data = 3.14 #실수 선언
complex_data = 1 + 5j #복소수 선언
str_data1 = 'I love Python' #문자열 선언(영문)
str_data2 = "반갑습니다." #문자열 선언(한글)
list_data = [1, 2, 3] #리스트 선언
tuple_data = (1, 2, 3) #튜플 선언
dict_data = {0:'False', 1:'True'} #사전 선언

In [ ]:
#007
a = 200
msg = 'I love Python'
list_data = ['a', 'b', 'c']
dict_data = {'a':97, 'b':98}
print(a)
print(msg)
print(list_data)
print(list_data[0])
print(dict_data)
print(dict_data['a'])

In [ ]:
#008
listdata = ['a', 'b', 'c']
if 'a' in listdata:
    print('a가 listdata에 있습니다.')
    print(listdata)
else:
    print('a가 listdata에 존재하지 않습니다.')

In [ ]:
#009
x = 1
y = 2
if x >= y:
    print('x가 y보다 크거나 같습니다.')
else:
    print('x가 y보다 작습니다.')

In [ ]:
#010
x = 1
y = 2
if x > y:
    print('x가 y보다 큽니다.')
elif x < y:
    print('x가 y보다 작습니다.')
else:
    print('x와 y가 깉습니다.')

In [ ]:
#011
scope = [1,2,3,4,5]
for x in scope:
    print(x)

In [ ]:
#문자열을 범위로 지정한 예
str = 'abcdef'
for c in str:
  print(c)

In [ ]:
#리스트를 범위로 지정한 예
list = [1,2,3,4,5]
for c in list:
  print(c)

In [ ]:
#사전을 범위로 지정한 예
ascii_codes = {'a':97,'b':98,'c':99}
for c in ascii_codes:
  print(c)

In [ ]:
#range() 함수를 범위로 지정한 예
for c in range(10):
  print(c)